:root {
  --page-pad: 10px;
}

.container {
  position: absolute;
  top: var(--page-pad);
  bottom: var(--page-pad);
  left: var(--page-pad);
  right: var(--page-pad);
  
  display: grid;
  grid-template-rows: auto 1fr;
}

h1 {
  font-family: monospace;
}

#app {
}

canvas {
  border: 1px solid #555;
}

p {
  font-style: italic;
  font-size: 10px;
  padding: 0;
  margin: 0:
}
